<div class="login-wrapper" [formGroup]="loginForm">
	<div class="login-window-text">
		<span class="login-main-text">Login</span>
		<span class="login-sub-text">Provide details to your Instagram account</span>
	</div>

	<div class="login-window-inputs-wrapper">
		<input class="login-username-input" type="text" formControlName="username" placeholder="Username">
		<input class="login-password-input" type="password" formControlName="password" placeholder="Password">
	</div>

	<div class="login-window-feedback-text-wrapper">
		<span *ngIf="invalidLoginCredentials" class="login-window-feedback-invalid-credentials">
			Incorrect login details
		</span>
		<span *ngIf="communicationState === CommunicationState.LOADING" class="login-window-loading">
			An attempt is underway to log into your account on Instagram and simulate actions that ensure your account will not be banned
		</span>
	</div>

	<button class="login-submit-button" type="button" (click)="submitLoginForm()">
		<span *ngIf="communicationState !== CommunicationState.LOADING">Login</span>
		<mat-progress-spinner *ngIf="communicationState === CommunicationState.LOADING" class="login-submit-button-loading" mode="indeterminate" [diameter]="25" ></mat-progress-spinner>
	</button>
</div>
