.login-wrapper {

	.login-window-text {
		.login-main-text,
		.login-sub-text {
			display: block;
			text-align: center;
		}

		.login-main-text {
			font-size: 24px;
			font-weight: bold;
			margin-top: 50px;
		}

		.login-sub-text {
			font-size: 16px;
			font-weight: 500;
			margin-top: 20px;
		}
	}

	.login-window-inputs-wrapper {
		.login-username-input,
		.login-password-input {
			display: block;
			max-width: 400px;
			width: 100%;
			margin: 20px auto;
			height: 40px;
			font-weight: bold;
			box-sizing: border-box;
			color: #0D5F84;
			padding: 6px 12px;
		}
	}

	.login-window-feedback-text-wrapper {
		.login-window-feedback-invalid-credentials,
		.login-window-loading {
			display: block;
			text-align: center;
			font-weight: bold;
			font-size: 16px;
		}

		.login-window-feedback-invalid-credentials {
			color: red;
		}
	}

	.login-submit-button {
		display: block;
		max-width: 400px;
		width: 100%;
		margin: 20px auto;
		background-color: #0D5F84;
		color: #FFFFFF;
		border: 0;
		height: 40px;
		font-weight: bold;
		box-sizing: border-box;
		cursor: pointer;

		.login-submit-button-loading {
			display: block;
			margin: auto;

			::ng-deep circle {
				stroke: #FFFFFF;
			}
		}
	}
}
