<div class="tasks-window-wrapper">
	<span class="tasks-window-header">Add a task</span>
	<div class="task-form" [formGroup]="taskFormGroup">
		<select class="task-form-type" formControlName="type">
			<option [value]="TaskType.NONE">Scheduler</option>
			<option [value]="TaskType.FOLLOW_FROM_HASHTAG">Follow From Hashtag</option>
			<option [value]="TaskType.FOLLOW_TOP_ACCOUNTS_FROM_POLAND">Follow Top Accounts From Poland</option>
			<option [value]="TaskType.FOLLOW_NEW_INCOMERS_THEN_FOLLOW_TOP_ACCOUNTS_FROM_POLAND">Follow New Incomers then Follow Top Accounts From Polandd</option>
		</select>
		<input class="task-form-number-of-accounts" type="number" formControlName="numberOfAccounts">
		<button class="task-form-submit" type="button" (click)="sendTaskForm()">
			<span>Create Task</span>
		</button>
	</div>
</div>
